// Variables

/* Colors */
$primaryColor: rgb(228,43,49);
$secondaryColor: rgb(35, 35, 35);
$grayColor: rgb(237, 237, 237);

/* Fonts */
$mainFont: 'Poppins', sans-serif;
$mainFontSize: 16px;

/* Media Queries */
$xsScreen:'max-width:767px';
$smMinScreen:'min-width:768px';
$smMaxScreen:'max-width:992px';
$mdMinScreen:'min-width:992px';
$lgScreen:'min-width:1200px';
